@font-face {
  font-family: 'Popins Bold';
  src: url("font-family/Poppins-Bold.ttf");
}

@font-face {
  font-family: 'Popins Regular';
  src: url("font-family/Poppins-Regular.ttf");
}

@font-face {
  font-family: 'Popins semi-bold';
  src: url("font-family/Poppins-SemiBold.ttf");
}

.swiper-container {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 575px) {
  .swiper-container {
    height: 90vh;
  }
}

.swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  position: relative;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-container .swiper-slide:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.479);
}

.swiper-container .swiper-slide img {
  height: 100%;
  width: 100%;
}

@media (max-width: 575px) {
  .swiper-container .swiper-slide img {
    height: 100%;
    width: 100%;
  }
}

.swiper-container .swiper-slide .slider-content {
  position: absolute;
  width: 50%;
}

@media (max-width: 575px) {
  .swiper-container .swiper-slide .slider-content {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .swiper-container .swiper-slide .slider-content {
    width: 70%;
  }
}

.swiper-container .swiper-slide .slider-content .slide-title {
  color: #fff;
  font-family: "Popins Bold", sans-serif;
  font-size: 50px;
}

@media (max-width: 575px) {
  .swiper-container .swiper-slide .slider-content .slide-title {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .swiper-container .swiper-slide .slider-content .slide-title {
    font-size: 40px;
  }
}

.swiper-container .swiper-slide .slider-content p {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 50px;
}

.swiper-container .swiper-slide .slider-content div.buttons a.button-one, .swiper-container .swiper-slide .slider-content div.buttons a.button-two {
  background: #8b0000;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.swiper-container .swiper-slide .slider-content div.buttons a.button-one .fas, .swiper-container .swiper-slide .slider-content div.buttons a.button-two .fas {
  margin-left: 10px;
}

.swiper-container .swiper-slide .slider-content div.buttons a.button-one:hover, .swiper-container .swiper-slide .slider-content div.buttons a.button-two:hover {
  background: #fff;
  color: #000;
}

@media (max-width: 575px) {
  .swiper-container .swiper-slide .slider-content div.buttons a.button-one, .swiper-container .swiper-slide .slider-content div.buttons a.button-two {
    font-size: 14px;
  }
}

.swiper-container .swiper-slide .slider-content div.buttons a.button-two {
  background: #fff;
  color: #000;
}

.swiper-container .swiper-slide .slider-content div.buttons a.button-two:hover {
  background: #8b0000;
  color: #fff;
}

.swiper-container .swiper-pagination {
  bottom: 100px;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background: #de2828;
}

@media (max-width: 575px) {
  .swiper-container .swiper-pagination {
    display: none;
  }
}

@media (max-width: 768px) {
  .swiper-container .swiper-pagination {
    display: none;
  }
}

.swiper-container .swiper-pagination:before {
  position: absolute;
  content: '';
  width: 30px;
  height: 1px;
  background: #969696;
  left: 45%;
  bottom: 50%;
}

.swiper-container .swiper-pagination:after {
  position: absolute;
  content: '';
  width: 30px;
  height: 1px;
  background: #969696;
  right: 45%;
  bottom: 50%;
}

.main-nav {
  position: fixed !important;
  z-index: 1999;
  top: 0%;
  left: 0;
  background: none;
  width: 100%;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.main-nav.fixed {
  top: -100%;
  -webkit-animation-name: navfixed;
          animation-name: navfixed;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: rgba(3, 3, 3, 0.541);
}

.main-nav.fixed .navbar-brand img {
  width: 50px;
}

.main-nav .navbar-brand img {
  width: 100px;
}

@media (max-width: 575px) {
  .main-nav .navbar-brand img {
    width: 50px;
  }
}

.main-nav i.fas.fa-bars {
  color: #fff;
  font-size: 40px;
  display: none;
}

.main-nav i.fas.fa-bars:hover {
  cursor: pointer !important;
}

@media (max-width: 575px) {
  .main-nav i.fas.fa-bars {
    display: block;
  }
}

@media (max-width: 768px) {
  .main-nav i.fas.fa-bars {
    display: block;
  }
}

@media (max-width: 575px) {
  .main-nav ul.navbar-nav {
    position: fixed;
    right: -100%;
    top: 0%;
    background: rgba(0, 0, 0, 0.822);
    width: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-align: center;
    padding-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .main-nav ul.navbar-nav {
    position: fixed;
    right: -100%;
    top: 0%;
    background: rgba(0, 0, 0, 0.822);
    width: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-align: center;
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .main-nav ul.navbar-nav.right-zero {
    right: 0% !important;
  }
}

@media (max-width: 768px) {
  .main-nav ul.navbar-nav.right-zero {
    right: 0% !important;
  }
}

.main-nav ul.navbar-nav .menu-close {
  font-size: 45px;
  color: red;
  margin-right: 20px;
  margin-top: 20px;
  display: none;
}

@media (max-width: 575px) {
  .main-nav ul.navbar-nav .menu-close {
    display: block;
  }
}

@media (max-width: 768px) {
  .main-nav ul.navbar-nav .menu-close {
    display: block;
  }
}

.main-nav ul.navbar-nav .nav-item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-nav ul.navbar-nav .nav-item.search-item {
  margin-left: 30px;
}

@media (max-width: 575px) {
  .main-nav ul.navbar-nav .nav-item.search-item {
    margin-left: 0px;
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .main-nav ul.navbar-nav .nav-item.search-item {
    margin-left: 0px;
    margin-right: 30px;
  }
}

.main-nav ul.navbar-nav .nav-item .nav-link {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.main-nav ul.navbar-nav .nav-item .nav-link:hover, .main-nav ul.navbar-nav .nav-item .nav-link.active {
  color: #ff4b4b;
}

.main-nav ul.navbar-nav .nav-item .nav-link:hover:before, .main-nav ul.navbar-nav .nav-item .nav-link.active:before {
  width: 85%;
}

@media (max-width: 575px) {
  .main-nav ul.navbar-nav .nav-item .nav-link:hover:before, .main-nav ul.navbar-nav .nav-item .nav-link.active:before {
    width: 20%;
  }
}

@media (max-width: 768px) {
  .main-nav ul.navbar-nav .nav-item .nav-link:hover:before, .main-nav ul.navbar-nav .nav-item .nav-link.active:before {
    width: 10%;
  }
}

.main-nav ul.navbar-nav .nav-item .nav-link.underline {
  position: relative;
}

.main-nav ul.navbar-nav .nav-item .nav-link.underline:before {
  position: absolute;
  content: '';
  width: 85%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  height: 1px;
  bottom: 0;
  background: #fff;
}

@media (max-width: 575px) {
  .main-nav ul.navbar-nav .nav-item .nav-link.underline:before {
    width: 85%;
  }
}

.main-nav ul.navbar-nav .nav-item .nav-link:before {
  position: absolute;
  content: '';
  width: 0%;
  height: 1px;
  background: #ff4b4b;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@-webkit-keyframes navfixed {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}

@keyframes navfixed {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}

.wel-container {
  margin-bottom: 100px;
}

.wel-container .wel-box {
  padding: 30px 20px 30px 0px;
}

.wel-container .wel-box .sub-title {
  color: #8b0000;
  margin-bottom: 0px;
  position: relative;
  padding-left: 45px;
}

.wel-container .wel-box .sub-title:before {
  position: absolute;
  content: '';
  width: 40px;
  height: 1px;
  background: #8b8b8b;
  left: 0;
  bottom: 50%;
}

.wel-container .wel-box .wel-title {
  font-family: "Popins Bold", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.wel-container .wel-box .wel-link {
  color: #8b0000;
  font-size: 12px;
}

.wel-container .srvs-roatet {
  height: 100%;
}

.wel-container .srvs-roatet .srvs-heading {
  font-size: 60px;
  color: #e9e9e9;
  position: absolute;
  bottom: 15%;
  left: -90%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media (max-width: 575px) {
  .wel-container .srvs-roatet .srvs-heading {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    position: relative;
    left: 0;
    bottom: 0%;
    font-size: 45px;
  }
}

@media (max-width: 768px) {
  .wel-container .srvs-roatet .srvs-heading {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    position: relative;
    left: 0;
    bottom: 0%;
    font-size: 35px;
  }
}

.wel-container .srvs-roatet .roatet-sub-heading {
  position: absolute;
  bottom: 0%;
  left: -25%;
  margin: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media (max-width: 575px) {
  .wel-container .srvs-roatet .roatet-sub-heading {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    position: relative;
    left: 0;
  }
}

@media (max-width: 768px) {
  .wel-container .srvs-roatet .roatet-sub-heading {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    position: relative;
    left: 0;
  }
}

.wel-container .srvs-roatet .roatet-sub-heading:after {
  position: absolute;
  content: '';
  width: 40px;
  height: 1px;
  background: #8b8b8b;
  right: -55%;
  bottom: 50%;
}

@media (max-width: 575px) {
  .wel-container .srvs-roatet .roatet-sub-heading:after {
    bottom: 50%;
    right: 62%;
  }
}

@media (max-width: 768px) {
  .wel-container .srvs-roatet .roatet-sub-heading:after {
    bottom: 50%;
    right: 62%;
  }
}

.wel-container .services-row {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  z-index: 999;
  position: relative;
}

@media (max-width: 575px) {
  .wel-container .services-row {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media (max-width: 768px) {
  .wel-container .services-row {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.wel-container .services-row .service-box {
  border: 2.5px solid #fff;
  -webkit-box-shadow: 0px 0px 10px -5px #606060cc;
          box-shadow: 0px 0px 10px -5px #606060cc;
}

@media (max-width: 575px) {
  .wel-container .services-row .service-box {
    margin-top: 20px;
  }
}

.wel-container .services-row .service-box img {
  width: 100%;
}

.wel-container .services-row .service-box .service-title {
  color: #606060;
  font-size: 20px;
  padding: 10px 0 0px 10px;
}

.wel-container .services-row .service-box .service-link {
  padding: 0px 0 10px 10px;
  font-size: 12px;
  display: block;
}

.wel-container .services-row .service-box .service-link:hover {
  color: #8b0000;
}

.discover {
  padding-top: 150px;
  padding-bottom: 100px;
}

@media (max-width: 575px) {
  .discover {
    padding-top: 0px;
  }
}

@media (max-width: 768px) {
  .discover {
    padding-top: 0px;
  }
}

.discover .discover-box {
  background: #fff;
  padding: 40px;
  position: absolute;
  right: 0%;
  top: 0%;
  -webkit-box-shadow: 0px 0px 10px -5px #afaeae;
          box-shadow: 0px 0px 10px -5px #afaeae;
  -webkit-transform: translate(-15%, -35%);
          transform: translate(-15%, -35%);
}

@media (max-width: 575px) {
  .discover .discover-box {
    position: relative;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@media (max-width: 768px) {
  .discover .discover-box {
    position: relative;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

.discover .discover-box .title {
  font-family: "Popins Bold", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.discover .discover-box .sub-title {
  font-size: 16px;
}

.process-sec {
  background: url("img/bg-groups.jpg") no-repeat left bottom;
  background-size: 70% 70%;
}

.process-sec .desc-box .up-title {
  color: #8b0000;
  margin-bottom: 0px;
  position: relative;
  padding-left: 45px;
}

.process-sec .desc-box .up-title:before {
  position: absolute;
  content: '';
  width: 40px;
  height: 1px;
  background: #8b8b8b;
  left: 0;
  bottom: 50%;
}

.process-sec .desc-box .title {
  font-family: "Popins Bold", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.process-sec .desc-box .sub-title {
  color: #aca9a9;
}

.process-sec .desc-box .process-link {
  color: #8b0000;
  font-size: 12px;
  border: 1px solid #8b0000;
  border-radius: 5px;
  padding: 15px;
  margin-top: 15px;
  display: inline-block;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.process-sec .desc-box .process-link:hover {
  background: #8b0000;
  color: #fff;
  border-color: #fff;
  text-decoration: none;
}

.process-sec .process-box-s {
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 10px -5px #afaeae;
          box-shadow: 0px 0px 10px -5px #afaeae;
}

.process-sec .process-box-s .title {
  font-size: 20px;
}

.process-sec .process-box-s .link {
  color: #8b0000;
  font-size: 12px;
}

.process-sec .process-box-s.one {
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

@media (max-width: 768px) {
  .process-sec .process-box-s.one {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .process-sec .process-box-s.one {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    margin-top: 30px;
  }
}

.process-sec .process-box-s.two {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

@media (max-width: 768px) {
  .process-sec .process-box-s.two {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .process-sec .process-box-s.two {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    margin-top: 30px;
  }
}

.process-sec .process-box-s.three {
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}

@media (max-width: 768px) {
  .process-sec .process-box-s.three {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .process-sec .process-box-s.three {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    margin-top: 30px;
  }
}

.process-sec .process-box-s.four {
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

@media (max-width: 768px) {
  .process-sec .process-box-s.four {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .process-sec .process-box-s.four {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    margin-top: 30px;
  }
}

.recent-pro-sec {
  margin-top: 8%;
}

.recent-pro-sec .heading {
  font-size: 30px;
}

.recent-pro-sec .pro-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recent-pro-sec .project-box {
  width: 20%;
  overflow: hidden;
  padding: 0 5px 0 5px;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 575px) {
  .recent-pro-sec .project-box {
    width: 100%;
    margin-bottom: 20px;
  }
}

.recent-pro-sec .project-box:after {
  content: "";
  clear: both;
  display: table;
}

.recent-pro-sec .project-box:hover .hover-box {
  opacity: 1;
}

.recent-pro-sec .project-box .hover-box {
  position: absolute;
  top: 0;
  left: 5px;
  width: 96%;
  height: 100%;
  background: rgba(0, 0, 0, 0.226);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}

.recent-pro-sec .project-box .hover-box .fa-plus {
  font-size: 60px;
  padding-top: 50%;
  color: #afaeae;
}

.recent-pro-sec .project-box .hover-box .desc {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 20px;
  padding-bottom: 20px;
}

.recent-pro-sec .project-box .hover-box .desc .title {
  font-size: 16px;
}

.recent-pro-sec .project-box .hover-box p {
  text-align: left;
  color: #fff;
}

.recent-pro-sec .project-box img {
  width: 100%;
  overflow: hidden;
}

.about-srvs-con {
  margin-top: 5%;
  margin-bottom: 5%;
}

@media (max-width: 575px) {
  .about-srvs-con .desc-col {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.about-srvs-con .desc-col .desc-box .title {
  font-size: 30px;
  margin-bottom: 0;
}

.about-srvs-con .desc-col .desc-box .sub-title {
  color: #aca9a9;
}

.about-srvs-con .desc-col .desc-box .link {
  font-size: 12px;
}

.about-srvs-con .img-desc .box {
  -webkit-box-shadow: 0px 0px 5px 0px #e9e9e9;
          box-shadow: 0px 0px 5px 0px #e9e9e9;
}

.about-srvs-con .img-desc .box img {
  height: 100%;
}

.about-srvs-con .img-desc .box .desc-sec {
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-srvs-con .img-desc .box .desc-sec .heading {
  font-size: 22px;
}

.about-srvs-con .img-desc .box .desc-sec .heading .span {
  font-size: 24px;
}

.subcribe-sec {
  background: url("img/subscribe-sec-img.jpg") no-repeat 100% 100%;
  background-position: center center;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.subcribe-sec:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.438);
  right: 0;
  top: 0;
}

.subcribe-sec .heading {
  font-size: 30px;
}

@media (max-width: 575px) {
  .subcribe-sec .heading {
    margin-bottom: 0;
  }
}

.subcribe-sec .box {
  width: 50%;
  margin-left: auto;
}

@media (max-width: 575px) {
  .subcribe-sec .box {
    width: 95%;
    margin-bottom: 20px;
  }
}

.subcribe-sec .box .desc {
  margin-bottom: 0;
}

.subcribe-sec #sub-form {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.subcribe-sec #sub-form .input {
  margin-bottom: 0;
  background: #fff;
  width: 200px;
  padding: 10px;
  margin: auto;
}

@media (max-width: 575px) {
  .subcribe-sec #sub-form .input {
    width: 95%;
    margin-bottom: 20px;
  }
}

.subcribe-sec #sub-form .input input {
  background: transparent;
  border: none;
  width: 50%;
  padding-left: 10px;
}

.subcribe-sec #sub-form button {
  background: #1f1f1f;
  border: none;
  padding: 10px 15px;
  color: #fff;
}

@media (max-width: 575px) {
  .subcribe-sec #sub-form button {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.blog-sec {
  margin-top: 5%;
  margin-bottom: 5%;
}

.blog-sec .heading-row .heading {
  font-size: 30px;
}

@media (max-width: 575px) {
  .blog-sec .heading-row .heading {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .blog-sec .heading-row a.link {
    margin-bottom: 20px;
    display: block;
  }
}

.blog-sec .box {
  -webkit-box-shadow: 0px 0px 5px 0px #afaeae;
          box-shadow: 0px 0px 5px 0px #afaeae;
}

@media (max-width: 575px) {
  .blog-sec .box {
    margin-bottom: 20px;
  }
}

.blog-sec .box .date {
  color: #8b8b8b;
}

.blog-sec .box .title {
  font-family: "Popins semi-bold", sans-serif;
  font-size: 15px;
}

.blog-sec .box .desc-box {
  padding: 20px 10px 20px 10px;
}

.footer .contact-sec {
  background: url("img/contact-sec.jpg") no-repeat 100% 100%;
  background-position: left center;
}

.footer .contact-sec .form-box {
  background: #fff;
  width: 45%;
  margin: auto;
  padding: 45px 35px;
  -webkit-box-shadow: 0px 0px 5px 0px #fff;
          box-shadow: 0px 0px 5px 0px #fff;
  margin-top: 5%;
  margin-bottom: 5%;
}

@media (max-width: 575px) {
  .footer .contact-sec .form-box {
    width: 75%;
  }
}

.footer .contact-sec .form-box .heading {
  font-size: 25px;
}

@media (max-width: 575px) {
  .footer .contact-sec .form-box .heading {
    font-size: 18px;
  }
}

.footer .contact-sec .form-box input {
  width: 100%;
  border: none;
  padding: 15px 25px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 10px 0px #a5a5a5;
          box-shadow: 0px 0px 10px 0px #a5a5a5;
}

.footer .contact-sec .form-box textarea {
  width: 100%;
  border: none;
  padding: 15px 25px;
  -webkit-box-shadow: 0px 0px 10px 0px #a5a5a5;
          box-shadow: 0px 0px 10px 0px #a5a5a5;
  color: #868585;
  margin-bottom: 20px;
}

.footer .contact-sec .form-box button {
  position: relative;
  border: none;
  background: #8b0000;
  padding: 10px 25px;
  border-radius: 5px;
  color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px #ff8b8b;
          box-shadow: 0px 0px 10px 0px #ff8b8b;
}

.footer .address-sec {
  background: #1d1d1d;
}

.footer .address-sec .heading {
  font-size: 20px;
}

.footer .address-sec .box {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-left: 30px;
  font-size: 110%;
}

@media (max-width: 575px) {
  .footer .address-sec .box {
    top: 0%;
    padding: 30px 20px;
  }
}

.footer .address-sec .box .socials i {
  margin: 5px;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 15px 17px;
  color: #fff;
}

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
}

p {
  font-family: "Popins Regular", sans-serif;
  font-size: 14px;
  margin: 0px;
}

.secondary-color {
  color: #8b0000;
}

.t-upper {
  text-transform: uppercase;
}

.font-bold {
  font-weight: bold;
  font-family: "Popins Bold", sans-serif;
}

.up-title.line-behind {
  color: #8b0000;
  margin-bottom: 0px;
  position: relative;
  padding-left: 45px;
}

.up-title.line-behind:before {
  position: absolute;
  content: '';
  width: 40px;
  height: 1px;
  background: #8b8b8b;
  left: 0;
  bottom: 50%;
}

.link {
  font-size: 12px;
}

.line-after {
  position: relative;
}

.line-after:after {
  position: absolute;
  content: '';
  width: 1px;
  height: 80%;
  background: #616161;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.line-right {
  position: relative;
}

.line-right:after {
  position: absolute;
  content: '';
  width: 40px;
  height: 1px;
  background: #bbbbbb;
  right: 55%;
  bottom: 50%;
}
