@font-face{
    font-family: 'Popins Bold';
    src: url('font-family/Poppins-Bold.ttf');
}
@font-face{
    font-family: 'Popins Regular';
    src: url('font-family/Poppins-Regular.ttf');
}
@font-face{
    font-family: 'Popins semi-bold';
    src: url('font-family/Poppins-SemiBold.ttf');
}