$popins-bold: 'Popins Bold', sans-serif;
$popins-regular: 'Popins Regular', sans-serif;
$popins-semi: 'Popins semi-bold', sans-serif;
$nav-hover-color: #ff4b4b;
$secondary-color: #8b0000;
$heading: 30px;